@import './styles.scss';

$current: $desktop;

  
.App {
    direction: ltr;
    min-height: 100vh;
    transition: all $transitionSpeed ease-in-out;
    position: relative;
    
    &.light {
        background-color: $light-darker-grey;
        transition: all $transitionSpeed ease-in-out;

        header {
            background-color: $light-grey;
            transition: all $transitionSpeed ease-in-out;
            box-shadow: 0 1px 10px -2px $dark-blue-grey;
        }
        .text-theme {
            color: $dark-blue-grey;
            transition: all $transitionSpeed ease-in-out; 
        }
        .text-theme {
            color: $dark-blue-grey;
            transition: all $transitionSpeed ease-in-out;
        }
    }

    &.dark {
        background-color: $dark-blue-grey;
        transition: all $transitionSpeed ease-in-out;
        
        header {
            background-color: $dark-grey-darker;
            transition: all $transitionSpeed ease-in-out;
            box-shadow: 0 1px 10px -2px $light-grey;
        }

        .text-theme {
            color: $light-white;
            transition: all $transitionSpeed ease-in-out; 
        }
        .text-theme {
            color: $light-darker-grey;
            transition: all $transitionSpeed ease-in-out;
        }
    }
}

@media (min-width: $media_desktop_large) {
    $current: $desktop_large;

    .App {

        .body {
            padding-top: vw(50, $current);
            padding-left: vw(15, $current);
        }
        
        &.light {

        }
        &.dark { 

        }
        
    }
}