// CONVERT PIXELS TO VW
@function vw($pixels, $width) {
    $size: calc(($pixels / $width) * 100);
    @return $size + vw;
}

$mobile: 320;
$tablet: 768;
$desktop: 1200;
$desktop_large: 1500;

$media_tablet: 768 + px;
$media_desktop: 1200 + px;
$media_desktop_large: 1500 + px;



// DARK THEME
$dark-grey: #343a40;
$dark-grey-darker: #343a40;
$dark-blue-grey: #23272b;

// LIGHT THEME
$light-white: #ffffff;
$light-grey: #f8f9fa;
$light-darker-grey: #e9ecef;
$light-steel-blue: #66b2ff;

// Fonts
$font-arial:  Arial, sans-serif;


// Other vars
$transitionSpeed: 350ms;


button {
    all: unset;
};

p {
    margin: 0;
    padding: 0;
}
